body{
	background:aquamarine;
    margin: 0;
	text-align:center;
    font-size:3em;
}
header{
	background:lightgreen;
}
header h2{
	font-family:'serif';
    margin: 0;
    text-align:center;
}
main{
	padding: 0;
	margin: 0 20%;
	height: 100vh;
	background:white;
    text-align:center;
}
input{
	border: none;
	/* border: underline #c0c0c0; */
	outline:none;
    width:50%;
    font-size:1.5em;
    border-bottom:solid 1px;

}
.progressbar{
	height: 14px;
	background: gray;
	border-radius:7px;
	position:relative;
}
.progressbar .bar_back{
	height: 8px;
	background:white;
	border-radius:5px;
	position:absolute;
	margin:auto auto auto auto;
	width: 99%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}

.progressbar .bar{
	height: 8px;
	background:springgreen;
	border-radius:5px;
	position:absolute;
	margin:auto auto auto auto;
	padding: auto;
	width: 99%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}
/*‰~‚Ì•`‰æ*/
.circle{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:10% auto;
    width:80px;
    height:80px;
    line-height:80px;
    border-radius:50%;
    border:solid 3px red;
}


