body{
	background:aquamarine;
    margin: 0;
	text-align:center;
    font-size:3em;
}
header {
    background: aquamarine;
    color: white;
}
header h2{
	font-family:'serif';
    margin: 0;
    
}
main{
	padding: 0;
	margin: 0 15%;
	height: 100vh;
	background:white;
    text-align:center;
    border-radius: 50px;
}
.main p:nth-of-type(1){
    margin-top:0;
    padding-top:10%;
}
main div:nth-of-type(1){
   
}
input{
	border: none;
	/* border: underline #c0c0c0; */
	outline:none;
    width:10em;
    font-size:1.5em;
    border-bottom:solid 1px;

}
.progressbar{
	height: 20px;
	background: gray;
	border-radius:10px;
	position:relative;
}
.progressbar .bar_back{
	height: 16px;
	background:white;
	border-radius:8px;
	position:absolute;
	margin:auto auto auto auto;
	width: 99%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}

.progressbar .bar{
	height: 16px;
	background:springgreen;
	border-radius:8px;
	position:absolute;
	margin:auto auto auto auto;
	padding: auto;
	width: 99%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}
/*円の描画*/
.circle{
    position:absolute;
    top:10%;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:80px;
    height:80px;
    line-height:80px;
    border-radius:50%;
    border:solid 6px red;
}
/*ボタン*/
#btn-index {
    font-size: 30px;
    width: 30%;
    margin: auto;
    background: #00bfff;
    border-radius: 23px;
    color: white;
    border: solid 5px orange;
}
    #btn-index a {
        color: white;
        border: none;
        text-decoration: none;
    }
    #btn-index:hover {
        background: #87cefa;
        border: solid 5px #F5DEB3;
    }
#btn-index a:hover{
    color:white;
}
/*イラスト*/
.png{
    width:300px;
    height:400px;
}
